.tv9-dashboard{text-align:center;font-family:Georama,sans-serif;box-sizing:border-box}
.tv9-dashboard h1.dash-title{font-weight:700;font-size:40px;line-height:44px;text-align:center;color:#000;text-transform:capitalize;margin-bottom:15px}
.tv9-dashboard .dash-intro .state_map{display:flex;justify-content:center;margin:20px 0}
.tv9-dashboard .dash-intro p{font-family:Montserrat;font-weight:400;font-size:18px;line-height:22px;text-align:center;letter-spacing:0.012em;color:#000;margin-bottom:15px;font-family: 'Georama';}
.tv9-dashboard .dash-intro .page_info p{font-size:15px;line-height:26px;text-align:center;letter-spacing:-.02em;color:#2d3dfd;text-transform:uppercase}
.tv9-dashboard h3{font-size:30px;line-height:44px;text-align:center;color:#0d0c0c;margin-bottom:15px}
.horstackchart{margin-bottom:20px;position:relative;width:50%}
.horbarchart{margin-bottom:10px;font-family:Georama,sans-serif}
.horbarchart::before{content:attr(data-label);position:absolute;left:50%;top:-30px;width:50%;transform:translateX(-50%);padding-left:0;font-weight:400;font-size:14px;color:#a3a3a3;text-align:center}
/* .horbarchart::after{content:"";width:0;height:40px;position:absolute;border-left:.12em dotted #000;top:-6px;left:50%} */
.yearwisefilters{margin-bottom:30px}
.filterBtns{font-family:Georama,sans-serif;background:#a5a5a5;border-radius:12px;font-weight:700;font-size:19px;text-align:center;color:#fff;border:none;padding:5px 10px;line-height:15px;cursor:pointer;margin:0 5px}
.filterBtns.active{background:#070707}
.barchart-section{display:flex;column-gap:100px;align-items:center}
.noSeatSection{margin-bottom: 45px;}
.noSeatSection h2{font-size: 14px;font-weight: 400;}
.noSeatSection p{font-size: 20px;font-weight: 700;}
.alliance-section{font-family:Montserrat,sans-serif;font-size:12px;line-height:18px;letter-spacing:-.02em;margin-bottom:50px}
.alliance-section h2{font-weight:700;text-transform:uppercase;color:#000;margin-bottom: 10px;}
.alliance-list li{color:#606060}
.map-section{display:flex;column-gap:20px;align-items:flex-start;width:100%}
.map-section .map{width:80%}
.map-section .map-count{width:20%}
.map-count .point{display:flex;column-gap:10px;padding:10px 10px;align-items:flex-start;margin-bottom:20px;width:100%;text-align: left;}
.map-count .point:first-child{background-color:#adadad;border-radius:6px}
.map-count .point:first-child .point-content span{color:#fff}
.map-count .point:nth-child(4){background-color:#eaeaea;border-radius:6px}
.map-count .point:nth-child(2),.map-count .point:nth-child(3){border-top:5px solid #d8d8d8}
.map-count .point-content{text-align:left;width:100%}
.map-count .point-content p{margin:0;text-transform:uppercase;font-size:14px;line-height:17px;color:#464646}
.map-count .point-content span{font-size:21px;line-height:25px;color:#000}
.map-count .point:nth-child(2) .point-content p:first-child,.map-count .point:nth-child(3) .point-content p:first-child{color:red}
.map path:hover{fill:#000}
.map-tooltip2{text-align:left;font-family:Georama,sans-serif}
.map-tooltip{text-align:left;font-family:Georama,sans-serif}
.map-tooltip::before{position:absolute;content:"";width:30px;height:8px;background-color:#000;top:28px;left:-30px}
.state_map path:hover{fill:#000}
.tooltip-header p{display:inline-block;font-size:15px!important;padding:5px 10px;margin:0}
.tooltip-content{background-color:#000;width:fit-content;padding:10px}
.tooltip-content .datapoint{display:inline-block;font-size:21px;padding:5px 10px;color:#fff;font-weight:700;border-left:1px solid #fff}
.tooltip-content .datapoint:first-child{border-left:none}
.tooltip-content .datapoint p{margin:0;font-size:21px;font-weight:700;color:#fff}
.tooltip-header p:first-child{background-color:#978282}
.tooltip-header p:nth-child(2){background-color:#a1cdca}
.tooltip-header button{ font-size: 18px!important; padding: 5px 10px; margin: 0; border: none; box-sizing: border-box; margin-top: 0px;}
.gotoLink{background-color:#378eaa;width:fit-content;padding:5px 10px}
.gotoLink a{color:#fff;text-decoration:none;font-size:14px}
.cat_nav {margin-top:30px}
.cat_nav ul{display:flex;justify-content:center;align-items:center;margin-bottom:20px}
.cat_nav ul li{display:flex;align-items:center;margin:0 10px}
.cat_nav ul li a{font-weight:700;font-size:14px;line-height:17px;color:#131313;margin-left:10px;text-align:left}
.cat_search{max-width:377px;width:100%;margin:0 auto}
.cat_search form{background:#fff;color:#9e9e9e;display:flex;padding:2px;border:1px solid #b9b9b9;border-radius:50px;margin:0 0 30px}
.cat_search input[type=search]{border:none;background:0 0;margin:0;padding:7px 8px;font-size:14px;color:inherit;font-family:Georama;width:100%;height:44px;-webkit-appearance:none}
.cat_search input[type=search]::placeholder{font-size:14px;line-height:17px;color:#9e9e9e;font-family:Georama}
.cat_search button[type=submit]{text-indent:-999px;overflow:hidden;width:40px;padding:0;margin:0;border:none;background:transparent url(../../assets/img/search.png) no-repeat center;cursor:pointer}
.dropdown-mobile{background-color: #FFF;position:absolute;top:-55px;left:50%;transform:translateX(-50%);padding:5px 10px;border:1px solid #ccc;border-radius:12px;width:80%;display:none}
.map{position:relative}
.tooltip-mobile{display:none}
.voter_count ul{display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;margin-bottom:20px}
.voter_count ul li{background-image: url('../../assets/img/subtle_grunge.png') !important; border-radius:5px;padding:20px;width:23%;min-height:140px;display:flex;align-items:center;flex-wrap:wrap;justify-content:center;flex-direction:column;}
.voter_count ul li strong{font-weight:600;font-size:24px;line-height:29px;display:block;}; 
.voter_count ul li span{font-size:18px;line-height:22px;text-align:center;letter-spacing:-.02em;color:#575454}
.voter_count ul li:nth-child(1){background:#e7e5d5}
.voter_count ul li:nth-child(1) strong{color:#b3b08a}
.voter_count ul li:nth-child(2){background:#f2d5d5}
.voter_count ul li:nth-child(2) strong{color:#c09999}
.voter_count ul li:nth-child(3){background:#b6cfd7}
.voter_count ul li:nth-child(3) strong{color:#759098}
.voter_count ul li:nth-child(4){background:#d3c1d2}
.voter_count ul li:nth-child(4) strong{color:#ac7aa9}
.constituency-list{display:flex;justify-content:flex-start;flex-wrap:wrap;width:100%;margin-bottom:20px}
.constituency-list figure{margin-bottom:20px;margin-right:38px}
.constituency-list figure:nth-child(5n+5){margin-right:0}
.constituency-list figure .constituency_profile{width:169px;height:169px;border-radius:34px;background:#e8e8e8;display:flex;justify-content:center;align-items:center;margin-bottom:10px}
.constituency-list figcaption {text-align: center;}
.constituency-list figcaption a{font-weight:700;font-size:14px;color:#605e5e}
.candidates-list{display:flex;justify-content:flex-start;flex-wrap:wrap;width:100%;margin-bottom:20px}
.candidates-list figure{margin-bottom:20px;margin-right:38px}
.candidates-list figure:nth-child(5n+5){margin-right:0}
.candidates-list figure .candidate_profile{width:169px;height:169px;border-radius:34px;background:#e8e8e8;display:flex;justify-content:center;align-items:center;margin-bottom:10px}
.candidates-list figcaption{text-align: center;}
.candidates-list figcaption a{font-weight:700;font-size:14px;color:#605e5e}
.party-list{display:flex;justify-content:flex-start;flex-wrap:wrap;width:100%;margin-bottom:20px}
.party-list figure{margin-bottom:20px;margin-right:38px}
.party-list figure:nth-child(5n+5){margin-right:0}
.party-list figure .party_profile{width:169px;height:169px;border-radius:34px;background:#e8e8e8;display:flex;justify-content:center;align-items:center;margin-bottom:10px}
.party-list figcaption{text-align: center;}
.party-list figcaption a{font-weight:700;font-size:14px;color:#605e5e}
.constituency-intro h2.dash-title, .candidate-intro h2.dash-title, .party-intro h2.dash-title { font-size: 30px; line-height: 44px; text-align: center; color: #0d0c0c; margin: 15px 0;font-family: 'Georama'; }
path.active{ fill: #000;}
.yearwisefilters{transition: all .5s;}
.yearwisefilters{background-color: #FFF;padding: 12px 10px;width: 100%;}
.yearwisefilters.sticky {position: fixed;top: 0;left:0;border-bottom:1px solid #ccc;z-index: 1000;}
@media(max-width:767px){
.tv9-dashboard .dash-intro p{line-height:20px}
.barchart-section,.map-section{flex-wrap:wrap}
.horstackchart,.map-section .map,.map-section .map-count{width:100%}
.horstackchart{margin-bottom:45px}
.map-section .map-count{display:flex;flex-wrap:wrap;justify-content:space-between}
.map-count .point{width:48%}
.cat_nav ul li{margin:0 10px 0 0}
.cat_nav ul li img{width:24px}
.cat_nav ul li a{font-size:12px;line-height:14px;margin-left:5px}
.tooltip-mobile{position:absolute;top:0;left:50%;transform:translateX(-50%);text-align:left;display:block;width:fit-content}
.map-tooltip{display:none}
.map{margin-top:50px}
.map svg{pointer-events:none;width:100%}
.dropdown-mobile{display:block}
.voter_count ul li{width:48%;margin-bottom:4%}
.closeMobTooltip{background:#f8f8f8;color:#000;width:32px;height:32px;font-weight:700;}
.constituency-list figure .constituency_profile{width:94px;height:94px;border-radius:23px}
.constituency-list figure .constituency_profile img{width:62px;height:62px}
.constituency-list figure{width:32%;display:flex;flex-wrap:wrap;justify-content:center;margin-right:2%}
.constituency-list figure:nth-child(3n+3){margin-right:0}
.constituency-list figure:nth-child(5n+5){margin-right:auto}
.candidates-list figure .candidate_profile{width:94px;height:94px;border-radius:23px}
.candidates-list figure .candidate_profile img{width:62px;height:62px}
.candidates-list figure{width:32%;display:flex;flex-wrap:wrap;justify-content:center;margin-right:2%}
.candidates-list figure:nth-child(3n+3){margin-right:0}
.candidates-list figure:nth-child(5n+5){margin-right:auto}

.party-list figure .party_profile{width:94px;height:94px;border-radius:23px}
.party-list figure .party_profile img{width:62px;height:62px}
.party-list figure{width:32%;display:flex;flex-wrap:wrap;justify-content:center;margin-right:2%}
.party-list figure:nth-child(3n+3){margin-right:0}
.party-list figure:nth-child(5n+5){margin-right:auto}
.yearwisefilters { margin-bottom: 47px; }
.cat_search { margin: 0 auto 50px auto; }
.constituency-list, .candidates-list {  margin-bottom: 35px; }
}
@media (min-width:768px) {
   .tv9-dashboard .state_map svg{width: 40%;} 
}